<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :total %>
    <p><%= @item.price %></p>
    <%= hidden_field :item, :id, value: @item.id %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes, id: :order_notes %>
  </div>

  <div class="field">
    <%= form.label :customer %>
    <%= hidden_field :customer, :id, value: @customer %>
    <%= @customer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
